<div *ngIf="clinic" class="container">
  <div class="main-body">
    <!-- Barra ubicacion -->
    <nav *ngIf="!isHome"aria-label="breadcrumb" class="main-breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Perfil de mi clínica
        </li>
      </ol>
    </nav>
    <!-- / Barra ubicacion -->
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                src="../../../../assets/default_clinic.png"
                alt="Defailt clinic logo"
                class="rounded-circle"
                width="57%"
              />
              <div class="mt-4">
                <h4>{{ clinic.name }}</h4>
                <button
                  *ngIf="isAdmin && !isHome"
                  class="btn btn-primary"
                  [routerLink]="['/clinics/updateClinic', clinic.id]"
                >
                  Editar mi perfil
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Nombre</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ clinic.name }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Ciudad</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ clinic.city }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Dirección</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ clinic.address }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Teléfono</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{ clinic.phone }}</div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Correo electrónico</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ clinic.email }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
