<h1>Componente info clinicas test</h1>
<br><br>
<p>Listar todas las clínicas:</p>
<button (click)="listAllClinics()">Mostrar datos</button>
<br /><br />
<p>Búsqueda por ID:</p>
<input type="number" [(ngModel)]="clinicId" />
<br /><br />
<button (click)="listSingleClinic(clinicId)">Mostrar datos</button>

<ul *ngFor="let item of clinics">
  <li>Nombre: {{ item.name }}</li>
  <li>Ciudad: {{ item.city }}</li>
  <li>Dirección: {{ item.address }}</li>
  <li>Teléfono: {{ item.phone }}</li>
  <li>Email: {{ item.email }}</li>
</ul>

<ul *ngIf="clinic.name != null;else noClinic">
  <li>Nombre: {{ clinic.name }}</li>
  <li>Ciudad: {{ clinic.city }}</li>
  <li>Dirección: {{ clinic.address }}</li>
  <li>Teléfono: {{ clinic.phone }}</li>
  <li>Email: {{ clinic.email }}</li>
</ul>

<ng-template #noClinic><br><br>Ingresa un ID válido para ver los datos de la clínica</ng-template>

