thead{
    font-weight: bold;
}
h2{
    color: white;
}

@media only screen and (max-width: 450px){
    .container{
        margin-bottom:90px!important;
    }

    h2{
        color: white;
    }
    .btn-danger{
        margin:0.5em;
    }
}