<div class="wrap">
  <div class="container">
    <!-- Barra ubicacion -->
    <h2>Listado de citas</h2>
    <br />

    <!-- / Barra ubicacion -->
    <hr />
    <button
      type="button"
      class="btn btn-block btn-info"
      style="text-align: center"
      (click)="addDate()"
    >
      Añadir nueva cita
    </button>
    <br /><br />
    <div *ngIf="dates.length > 0; else noDates" class="container">
      <div class="card w-auto mx-auto">
        <div class="table-responsive">
          <table class="table table-hover" style="text-align: center">
            <thead>
              <tr>
                <td>Fecha programada</td>
                <td>Mascota</td>
                <td>Encargado</td>
                <td>Acción</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dates; trackBy: tracker">
                <td>{{ item.date_time }}</td>
                <td>{{ getPetById(item.pet_id) }}</td>
                <td>{{ getEmployeeById(item.employee_id) }}</td>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteDate(item.id)"
                >
                  Eliminar cita
                </button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p [innerHTML]="htmlMsg"></p>
    </div>
    <ng-template #noDates>
      <div class="container">
        <table class="table table-hover" style="text-align: center">
          <p>No hay citas para mostrar</p>
          <br /><br />
        </table>
      </div>
    </ng-template>

    <ngb-pagination
      *ngIf="showPagination"
      [collectionSize]="totalItems"
      [pageSize]="pageSize"
      [(page)]="page"
      (pageChange)="loadPage($event)"
    ></ngb-pagination>
  </div>
</div>
