<app-pets-navbar></app-pets-navbar>
<div *ngIf="employee">
    <button class="btn btn-primary2" (click)="showComponent()">Crear consulta</button>
</div>

<app-create-consultation [showComponent]="showCreateComponent" (creationEvent)="createHandler()"></app-create-consultation>
<h2>Listado de consultas:</h2>
<table class="table table-hover">
    
    
    <tbody>
    <tr *ngFor = "let consultation of consultations">
        <div>
            <td>{{consultation.date_time}}</td>
            <td>{{consultation.speciality}}</td>
            <button class="btn btn-primary3" (click)="onSelect(consultation.id)">Detalle</button>
        </div>
        <div>
            <app-consultation-detail [consultationData]="consultation"></app-consultation-detail> 
        </div>
    </tr>
    </tbody>    
</table>
