h2{
    margin: 1em;
    color: rgb(29, 95, 73);
}

.btn-primary2{
    color: white;
    background-color:  rgb(105, 206, 172);
    margin: 2em;
}

.btn-primary3{
    color: white;
    background-color:  rgb(29, 95, 73);
}

table{
    margin: 1em 2em;
}

.breadcrumb{
    margin: 1em!important;
}

h2{
    color: white;
}

@media only screen and (max-width: 450px){
    
    
}