<div *ngIf="pets.length > 0" class="container">
  <h1>Añadir vacunación test</h1>

  <form
    [formGroup]="addVaccination"
    (ngSubmit)="onSubmit(addVaccination.value)"
  >
    <div class="form-group">
      <label for="date">Fecha de vacunación</label>
      <input
        type="date"
        class="form-control"
        id="date"
        formControlName="date"
      />
    </div>

    <div class="form-group form-check">
      <input
        type="checkbox"
        class="form-check-input"
        id="done"
        formControlName="done"
      />
      <label class="form-check-label" for="done"
        >¿Se ha realizado ya esta vacunación?</label
      >
    </div>

    <div class="form-group">
        <label for="pet_id">Mascota a vacunar </label>
        <select
          class="custom-select"
          formControlName="pet_id"
          [value]="pet_id"
        >
          <option value="">Selecciona...</option>
          <option *ngFor="let pet of pets" value="{{pet.id}}">
            {{ pet.name }}
          </option>
        </select>
      </div>

    <div class="form-group">
      <label for="vaccine_id">Vacuna a administrar</label>
      <select
        class="custom-select"
        formControlName="vaccine_id"
        [value]="vaccine_id"
      >
        <option value="">Selecciona...</option>
        <option *ngFor="let vaccine of vaccines" value="{{vaccine.id}}">
          {{ vaccine.name }}
        </option>
      </select>
    </div>

    <button class="btn btn-primary" type="submit">Añadir vacunación</button>
  </form>
  <br /><br />

  <p [innerHTML]="htmlMsg"></p>
</div>
