.btn-primary2{
    color: white;
    background-color:  rgb(105, 206, 172);
}

h2{
    margin: 1em;
    color: rgb(29, 95, 73);
}

table{
    margin: 2em;
    color: rgb(29, 95, 73);
}

form{
    margin: 2em;
    color: rgb(29, 95, 73);
}