<h2>Listado de vacunas:</h2>
<form #vaccineForm="ngForm" (ngSubmit)="createVaccine()">
    <label>Nombre de la vacuna</label><br>
    <input type="text" [(ngModel)]="newVaccineName" [ngModelOptions]="{standalone: true}" required><br><br>
    <button type="submit">Añadir</button><br><br>
</form>
<ul >
    <li *ngFor = "let vaccine of vaccines">
        {{vaccine.name}}
            <label for="availableOption"></label>
            <select (change)="changeAvailableOption(vaccine)"
                name="availableOption" 
                id="availableOption"
                [(ngModel)]="vaccine.available">
              <option *ngFor="let availableOption of availableOptions" [value]="availableOption.value">
                {{availableOption.label}}<br>
              </option>
            </select>
    </li>
</ul>
