
<div class="card w-50 mx-auto">
<!-- <div *ngIf="employeeDetails && edit" class="card w-50 mx-auto"> -->

  <!--  -->
   <h4 class="card-header">Editar empleado:</h4>
      <div class="card-body">
        <form [formGroup]="updateForm" (ngSubmit)="update()">
        <div class="form-group">
            <label>Nombre</label>
            <input class="form-control" type="text" formControlName="name" value="{{ employeeDetails.name }}" />
        </div>
        <div *ngIf="edit && updateForm.controls.name.errors" class="alert alert-danger" role="alert">
          <div *ngIf="updateForm.controls.name.errors.required">
            El nombre es obligatorio.
          </div>
          <div *ngIf="updateForm.controls.name.errors.pattern">
            El nombre sólo debe contener letras.
          </div>
        </div>
        <div class="form-group">
            <label>Apellidos</label>
            <input class="form-control" type="text" formControlName="surname" value="{{ employeeDetails.surname }}" />
        </div>
        <div *ngIf="edit && updateForm.controls.surname.errors" class="alert alert-danger" role="alert">
          <div *ngIf="updateForm.controls.surname.errors.required">
            Los apellidos son obligatorios.
          </div>
          <div *ngIf="updateForm.controls.surname.errors.pattern">
              Los apellidos deben tener un formato válido.
            </div>
        </div>
        <div class="form-group">
            <label>Correo electronico</label>
            <input class="form-control" type="email" formControlName="email" value="{{ employeeDetails.email }}" />
        </div >
        <div *ngIf="edit && updateForm.controls.email.errors" class="alert alert-danger" role="alert">
          <div *ngIf="updateForm.controls.email.errors.required">
            El correo electrónico es obligatorio.
          </div>
          <div *ngIf="updateForm.controls.email.errors.email">
            El correo electrónico no es válido.
          </div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Turno de trabajo</label>
            <select class="form-control" formControlName="workShifts" >
              <option *ngFor="let workShift of workShifts; let i = index" [value]="workShifts[i].name" >
                {{ workShifts[i].name }}
              </option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Especialidad</label>
            <select class="form-control" formControlName="specialities">
              <option *ngFor="let speciality of specialities; let i = index" [value]="specialities[i].id" >
                {{ specialities[i].name }}
              </option>
            </select>
        </div>
        <button class="btn btn-block btn-primary2">Guardar cambios</button>
        <button class="btn btn-block btn-secondary" type="reset"  (click)="hideComponent()">
          <!-- <button class="btn btn-block btn-secondary" type="reset"  (click)="buttonClick.emit()" (click)="cancel()"> -->
          Cancelar
        </button>
        <!-- <button>Guardar cambios</button> -->
      
    </form>
    </div>
</div>
<br />
<br />