<div class="d-flex margin" id="wrapper" style="background-color: rgb(105, 206, 172);">
    <!-- Sidebar -->
    <div class="bg-light border-left" id="sidebar-wrapper">
      <div class="sidebar-heading">CLINICA DOGGY </div>
      <div class="list-group list-group-flush">
        <a 
        [routerLink]="['./']"
        [queryParams]="{ view: '' }" 
         class="list-group-item list-group-item-action bg-light">Datos de mi clínica</a>
        <a  
        [routerLink]="['./']"
        [queryParams]="{ view: 'user' }" 
         class="list-group-item list-group-item-action bg-light">Mi Perfil</a>
        <a 
        [routerLink]="['./']"
        [queryParams]="{ view: 'pets' }" 
         class="list-group-item list-group-item-action bg-light">Mis Mascotas</a>
        <a  
        [routerLink]="['./']"
        [queryParams]="{ view: 'dates' }"
         class="list-group-item list-group-item-action bg-light">Mis Citas</a>
        
      </div>
    </div>

    <div id="page-content-wrapper">
      <nav class="navbar navbar-expand-lg" style="background-color: rgb(105, 206, 172);">
        <!-- <button class="btn btn-info" id="menu-toggle">Menú</button> -->
          <i class="bi bi-list"style="font-size: 2rem; color: cornflowerblack;" aria-hidden="true" id="menu-toggle"></i>
       </nav>
      
      <div class="container-fluid">
            
            <div><br><br><br></div>
            <app-clinics-profile *ngIf="clinic" ></app-clinics-profile>
             <app-clients-profile *ngIf="client" ></app-clients-profile>
             <app-list-pets *ngIf="pets"></app-list-pets>
             <app-dates *ngIf="dates"></app-dates>
           
      </div>
  </div>
