
  
 #page-content-wrapper{
  background-image: url("../../../assets/logos/veterinario2.png");
  background-repeat: no-repeat;
  
 }

 .btn-primary2{
              background-color:  rgb(105, 206, 172);
              color:white;
      }