<div class="d-flex margin" id="wrapper" style="background-color: rgb(105, 206, 172);">
    <!-- Sidebar -->
    <div class="bg-light border-left" id="sidebar-wrapper">
      <div class="sidebar-heading">CLINICA DOGGY </div>
      <div class="list-group list-group-flush">
        <a  class="list-group-item list-group-item-action bg-light">Mi perfil</a>
        <a  class="list-group-item list-group-item-action bg-light">Mis mascotas</a>
        <a  class="list-group-item list-group-item-action bg-light">Mis Citas</a>
        
      </div>
    </div>
    <div id="page-content-wrapper">
        <div class="container-fluid">
            
            <h1>BIENVENIDOS</h1>
          </div>
        </div>
  </div>
