<div class="container">
<nav aria-label="breadcrumb" class="main-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Listado de mascotas</li>
    </ol>
  </nav>

<h2>Listado de mascotas:</h2>
<br /><br />
<table class="table table-hover">
    <thead>
        <tr>
         <td>Nombre</td>
          <td>Raza</td>
          <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let pet of pets">
            <td>{{pet.name}}</td>
            <td>{{pet.species}}</td>
            <td><a routerLink="./{{pet.id}}/details"><button class="btn btn-primary3">Detalles</button></a></td>
        </tr>
    </tbody>
</table><br>

<div *ngIf="loggedClient">
    <a routerLink="./createPet"><button class="btn btn-block btn-info">Crear mascota</button></a>
</div>

</div>