h2{
    margin: 1em auto;
    color: white;
}

.btn-primary2{
    color: white;
    background-color:  rgb(105, 206, 172);
    margin: 2em;
}

.btn-primary3{
    color: white;
    background-color:  rgb(29, 95, 73);
    margin: 2em;
}
thead{
    font-weight: bold;
}
table td{
    vertical-align: middle;
}
table{
    background-color: white;
}


@media only screen and (max-width: 450px){
   
}