<!-- Logos mascotas-->
<div class="container">
  <img src="../assets/logos/mascota.svg" alt="perro" class="logo" />
  <p class="titulo">¡Bienvenido a MyPet!</p>
  <img src="../assets/logos/feliz.svg" alt="gato" class="logo2" />
</div>
<!-- Logos mascotas-->

<app-clinics-profile></app-clinics-profile>

<div class="card justify-content-center">
  <div class="row gutters-sm justify-content-center">
    <div class="col-md-3">
      <!-- <div class="card"> -->
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img
            src="../../../../assets/logos/seguridad.svg"
            alt="Defailt clinic logo"
            width="100"
          />
          <div class="mt-4">
            <h4>Seguridad</h4>
            <p>Tus mascotas siempre estaran cuidadas</p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <div class="col-md-3">
      <!-- <div class="card"> -->
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img
            src="../../../../assets/logos/confianza.svg"
            alt="Defailt clinic logo"
            width="100"
          />
          <div class="mt-4">
            <h4>Confianza</h4>
            <p>En Mypet podrás estar al día de las necesidades de tu mascota</p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <div class="col-md-3">
      <!-- <div class="card"> -->
      <div class="card-body">
        <div class="d-flex flex-column align-items-center text-center">
          <img
            src="../../../../assets/logos/sencillez.svg"
            alt="Defailt clinic logo"
            width="100"
          />
          <div class="mt-4">
            <h4>Sencillez</h4>
            <p>Con un solo click podrás establecer comunicación con tu veterinario</p>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</div>
<br /><br />
<div class="text-center">
  <button class="btn-lg btn-info" routerLink="/registerClients">
    REGISTRARSE
  </button>
</div>
<div class="overlay"></div>
