<div class= "container">
    <div class="container_outer_img">
      <div class="img-inner">
        <img src='../assets/logos/mascota.svg' alt="perro" class="logo"/>
       </div>
    </div>

     <div class="container_outer_img">
      <div class="img-inner">
       <img src='../assets/logos/feliz.svg' alt="gato" class="logo2"/>
      </div>
     </div>

  </div>
    <div class="overlay"></div>

    <app-clinics-profile></app-clinics-profile>
    <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img
              src="../../../../assets/logos/conejo (1).png"
              alt="Defailt clinic logo"
              width="150"
            />
            <div class="mt-4">
              <h4>Seguridad</h4>
              <p>Alguna descripcion</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <div class="d-flex flex-column align-items-center text-center">
            <img
              src="../../../../assets/logos/comida (1).png"
              alt="Defailt clinic logo"
              width="150"
            />
            <div class="mt-4">
              <h4>Confianaza</h4>
              <p>Alguna descripcion</p>
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
      
    <div class="text-center">
      <button class="btn-lg btn-info" routerLink="/registerClients">REGISTRARSE</button>
    </div>


