<div class="container-fluid">
<app-employees-update *ngIf="updateChild" [employeeSelected]="employeeSelectedInList" (buttonUpdateClick)="hideUpdateChild()"></app-employees-update>
</div>
<app-employees-register *ngIf="registerChild" (buttonRegisterClick)="hideRegisterChild()"></app-employees-register>
<div class="card w-auto mx-auto">
    <h6 class="card-header">Lista de empleados</h6>
    <div class="card-body">
        
<!-- <button type="button" class="btn btn-secondary" (click)="listAllEmployees()">Mostrar empleados</button>
<br><br> -->
<button type="button" class="btn btn-block btn-light" *ngIf="employeeAdmin" (click)="addEmployee()">Añadir empleado</button>
<br /><br />
<table class="table table-hover">
    <tr *ngIf ="submitted">
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo electronico</th>
        <th>Turno de trabajo</th>
        <th>Especialidad id</th>
        <th *ngIf="employeeAdmin">Accion</th>
    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.surname}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.workShifts}}</td>
        <td > {{getSpecialitybyId(employee.specialities)}}</td>
        <td>
            <button *ngIf="employeeAdmin" (click)="sendSelected(employee)" class="btn btn-primary2">Editar</button> 
        </td>
        <td>
        <button class="btn btn-danger" *ngIf="employeeAdmin" (click)="deleteEmployee(employee.id)">Eliminar</button>
    </td>
  
    
        
    </tr>
   
</table>
    </div>
</div>



