<h2>Listado de empleados</h2>
<div class="main-body">
<div class="card w-auto mx-auto">
    <!-- <h6 class="card-header">Lista de empleados</h6> -->
    <div class="card-body">
        <div class="container-fluid">
            <app-employees-update *ngIf="updateChild" (alertUpdated)="getAlertUpdated($event)" [employeeSelected]="employeeSelectedInList" (buttonUpdateClick)="hideUpdateChild()"></app-employees-update>
        </div>
        <div class="container-fluid">
        <app-employees-register *ngIf="registerChild" (alertOk)="getAlertRegister($event)" (buttonRegisterClick)="hideRegisterChild()"></app-employees-register>
        </div>
<br>
<p *ngFor="let alert of alerts">
   <ngb-alert [type]="alert.type" (closed)="close(alert)">{{alert.message}}</ngb-alert> 
</p>
<br />
<button type="button" class="btn btn-primary" style="margin-left: 2em;" *ngIf="employeeAdmin && !updateChild && !registerChild" (click)="addEmployee()">Añadir empleado</button>
<table *ngIf="!updateChild && !registerChild" class="table table-hover">
    <thead>
    <tr *ngIf ="submitted">
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Correo electrónico</th>
        <th>Turno de trabajo</th>
        <th>Especialidad</th>
        <th *ngIf="employeeAdmin">Acción</th>
    </tr>
</thead>
    <tbody>
         <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.surname}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.workShifts}}</td>
        <td>{{getSpecialitybyId(employee.specialities)}}</td>
        <td>
            <button *ngIf="employeeAdmin" (click)="sendSelected(employee)" class="btn btn-primary2">Editar</button> 
        </td>
        <td>
        <button class="btn btn-danger" *ngIf="employeeAdmin" (click)="deleteEmployee(employee.id)">Eliminar</button>
        </td>
  
    
        
    </tr>  
    </tbody>  
</table>
<ngb-pagination *ngIf="showPagination && !updateChild && !registerChild" [collectionSize]="totalItems" [pageSize]="pageSize" [(page)]="page"
(pageChange)="loadPage($event)"></ngb-pagination>
    </div>
</div>
</div>



