.btn-primary2{
    color: white;
    background-color:  rgb(105, 206, 172);
}
/* table{
    margin: 1em 2em;
} */
h1{
    margin: 1em;
    color: rgb(29, 95, 73);
}
thead{
    font-weight: bold;
}

h2{
    color: white;
}

.page-item.active.page-link{
    z-index:0!important;
   
}

.wrap{
    min-height: 50em!important;
}
@media only screen and (max-width: 450px){

    .page-item.active.page-link{
        z-index:0!important;
       
    }
    
}