<app-employees-update [employeeSelected]="employeeSelectedInList"></app-employees-update>
<h1>Lista de empleados</h1>
<button (click)="listAllEmployees()">Mostrar empleados</button>
<br /><br />
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Work shift</th>
        <th>Speciality id</th>
    </tr>
    <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.surname}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.work_shift}}</td>
        <td> {{employee.speciality_id}}</td>
        <td>
        <button>Eliminar</button>
        <button (click)="sendSelected(employee)">Editar</button> 
        </td>
    </tr>
   
</table>


