<!-- <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm fixed-top">
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/profile" *ngIf="isSignedIn">Profile</a>
    <a class="p-2 text-dark" *ngIf="!isSignedIn" routerLink="/loginEmployee">Log in</a>
    <a class="p-2 text-dark" routerLink="/registerEmployee">Register</a>
  </nav>
  <button class="btn btn-outline-primary" (click)="signOut()" *ngIf="isSignedIn">Log out</button>
</div> -->

<app-navbar-clinics></app-navbar-clinics>
<div>
  <br><br><br><br>
</div>
<body>
 
 

    <div class= 'container'>
      <div class="container_outer_img">
        <div class="img-inner">
          <img src='../assets/logos/mascota.svg' alt="perro" class="logo"/>
         </div>
      </div>

       <div class="container_outer_img">
        <div class="img-inner">
         <img src='../assets/logos/feliz.svg' alt="gato" class="logo2"/>
        </div>
       </div>
    </div>
      <div class="overlay"></div>
  </body>


<router-outlet></router-outlet>