h2{
    margin: 1em;
    color: rgb(29, 95, 73);
}

form{
    margin: 2em;
    color: rgb(29, 95, 73);
}

.btn-primary2{
    color: white;
    background-color:  rgb(105, 206, 172);
}


@media only screen and (max-width: 450px){
    .container{
        margin-bottom:90px!important;
    }

    
}