<div class="container-fluid">
    <app-clients-edit *ngIf="updateChild" [clientsSelected]="clientsSelectedList" (buttonUpdateClick)="hideUpdateChild()"></app-clients-edit>
</div>
<h1>Listado de clientes</h1>
<br /><br />
<table class="table table-hover">
    <thead>
        <tr *ngIf ="submitted">
          <td>Id</td>
          <td>Nombre</td>
          <td>Apellidos</td>
          <td>Email</td>
          <td>Teléfono</td>
          <td></td>
          <td></td>
          <td></td>
          </tr>
      </thead>
      <tbody>
    <tr *ngFor="let client of clients">
        <td>{{client.id}}</td>
        <td>{{client.name}} </td>
        <td>{{client.surname}}</td>
        <td>{{client.email}}</td>
        <td>{{client.phone}}</td>
    
        <td><button  (click)="sendSelected(client)" class="btn btn-primary2">Editar</button> </td>
        <td> <a routerLink="./clients/{{client.id}}/pets"><button class="btn btn-primary2">Mascotas</button></a></td> 
        <td><button  (click)="deleteClients(client.id)" class="btn btn-danger">Eliminar</button></td> 
        
    </tr>
    </tbody>
</table>



