.btn-primary2{
    color: white;
    background-color:  rgb(105, 206, 172);
}
.btn-primary3{
    color: white;
    background-color:  rgb(238, 117, 37);
}
table{
    margin: 1em 2em;
    background-color: white;
}
h1{
    margin: 1em;
    color: rgb(29, 95, 73);
}
thead{
    font-weight: bold;
}