
  <div class="card w-50 mx-auto">
    <h6 class="card-header">Iniciar sesión</h6>
    <div class="card-body">
      <div *ngIf="submitted && serverError && !loginForm.controls.email.errors && !loginForm.controls.password.errors" class="alert alert-danger" >
        {{errors}} </div>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" formControlName="email">
          </div>
          <div *ngIf="submitted && loginForm.controls.email.errors" class="alert alert-danger" role="alert">
            <div *ngIf="loginForm.controls.email.errors.required">
              Por favor, introduzca su email
            </div>
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" formControlName="password">
          </div>
          <div *ngIf="submitted && loginForm.controls.password.errors" class="alert alert-danger" role="alert">
            <div *ngIf="loginForm.controls.password.errors.required">
              Por favor, introduzca su password
            </div>
          </div>
          <button class="btn btn-block btn-primary2">Iniciar sesión</button>
      </form>
    </div>


    
       


