.btn-primary2{
    color:white;
    background-color: rgb(31, 180, 143);
    border-color: rgb(31, 180, 143);
}

@media only screen and (max-width: 450px) {
    .w-50{
        width: 90% !important;;
    }
    .card{
        margin-bottom:80px!important;
    }
}