<div class="container">
  <h2>Listado de vacunaciones</h2>
  <br /><br />
  <table class="table table-hover" style="text-align: center">
    <thead>
      <tr>
        <td>Fecha de vacunación</td>
        <td>¿Administrada?</td>
        <td>Mascota</td>
        <td>Vacuna</td>
        <td>Acción</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vaccinations">
        <td>{{ item.date }}</td>
        <td>{{ item.done ? "Sí" : "No" }}</td>
        <td>{{ getPetById(item.pet_id) }}</td>
        <td>{{ getVaccineById(item.vaccine_id) }}</td>
        <button
          type="button"
          [routerLink]="['/vaccinations/updateVaccination', item.id]"
        >
          Modificar estado
        </button>
      </tr>
    </tbody>
  </table>
</div>
