<div *ngIf="validSession"><div *ngIf="vaccinations.length>0; else noVaccinations" class="container"><br>
          <!-- Barra ubicacion -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Listado de vacunaciones
              </li>
            </ol>
          </nav>
          <!-- / Barra ubicacion -->
  <hr>
  <button *ngIf="isEmployee" type="button" class="btn btn-block btn-info" style="text-align:center"[routerLink]="['/vaccinations/addVaccination']">Añadir nueva vacunación</button>
  <br /><br />
  <table class="table table-hover" style="text-align: center">
    <thead>
      <tr>
        <td>Fecha de vacunación</td>
        <td>¿Administrada?</td>
        <td>Mascota</td>
        <td>Vacuna</td>
        <td>Acción</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vaccinations">
        <td>{{ item.date }}</td>
        <td>{{ item.done ? "Sí" : "No" }}</td>
        <td>{{ getPetById(item.pet_id) }}</td>
        <td>{{ getVaccineById(item.vaccine_id) }}</td>
        <button
          type="button"
          class="btn btn-info"
          [routerLink]="['/vaccinations/updateVaccination', item.id]"
        >
          Modificar estado
        </button>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #noVaccinations>
  <div class="container">
    <h2>Listado de vacunaciones</h2>
    <br /><br />
    <table class="table table-hover" style="text-align: center">
      <p>No hay vacunaciones para mostrar</p>
      <br><br>
      <button class="btn btn-secondary" type="button" (click)="return()">
        Volver atrás
      </button>
    </table>
  </div>
</ng-template>
</div>