<div *ngIf="validSession"><div *ngIf="clinics" class="container">
  <h2>Actualizar datos clínica</h2>
  <br /><br />

  <form [formGroup]="clinicUpdate" (ngSubmit)="onSubmit(clinicUpdate.value)">
    <div class="form-group">
      <label for="id">Elige la clínica a modificar</label>
      <select
        class="custom-select"
        (change)="onChange($any($event.currentTarget).value)"
      >
        <option *ngFor="let item of clinics" value="{{ item.id }}">
          {{ item.name }}
        </option>
      </select>
    </div>
    <div>
      <div class="form-group">
        <label for="name">Nombre de la clínica</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          value="{{ clinic?.name }}"
        />
      </div>
      <div class="form-group">
        <label for="city">Ciudad</label>
        <input
          type="text"
          class="form-control"
          id="city"
          formControlName="city"
          value="{{ clinic?.city }}"
        />
      </div>
      <div class="form-group">
        <label for="address">Dirección</label>
        <input
          type="text"
          class="form-control"
          id="address"
          formControlName="address"
          value="{{ clinic?.address }}"
        />
      </div>
      <div class="form-group">
        <label for="phone">Teléfono de contacto</label>
        <input
          type="text"
          class="form-control"
          id="phone"
          formControlName="phone"
          value="{{ clinic?.phone }}"
        />
      </div>
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          value="{{ clinic?.email }}"
        />
      </div>

      <button class="btn btn-primary" type="submit">Modificar datos</button
      >&nbsp;&nbsp;&nbsp;
      <button class="btn btn-secondary" type="button" (click)="return()">
        Volver atrás
      </button>
    </div>
  </form>
  <br /><br />

  <p [innerHTML]="htmlMsg"></p>
</div>
</div>