<h1>Actualizar datos clínica test</h1>

<p>Introduce los nuevos datos de la clínica:</p>

<label for="id">ID de la Clínica a editar: </label>
<input type="number" name="id" [(ngModel)]="clinicId"><br><br>

<form #clinicUpdate = "ngForm" (ngSubmit) = "onSubmit(clinicUpdate.value)" >
    <label for="name">Nombre: </label>
    <input type="text" name="name" ngModel><br><br>
    <label for="city">Ciudad: </label>
    <input type="text" name="city" ngModel><br><br>
    <label for="address">Dirección: </label>
    <input type="text" name="address" ngModel><br><br>
    <label for="phone">Teléfono: </label>
    <input type="text" name="phone" ngModel><br><br>
    <label for="email">Correo electrónico: </label>
    <input type="email" name="email" ngModel><br><br>
    <input type="submit" value="Guardar cambios">
  </form>

    <p [innerHTML]="htmlMsg"></p>
 