<nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: rgb(88, 204, 166);">
    <a class="navbar-brand" href="#">MyPet</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isSignedIn" routerLink="/loginClients">Log in clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registerClients">Register clients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="!isSignedIn" routerLink="/loginEmployee">Log in</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" *ngIf="isSignedIn" (click)="signOut()">Log out</a>
      </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/registerEmployee">Register</a>
        </li>
      </ul>
    </div>
  </nav>
  