<div class="container">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  
      <h3>Recuperar contraseña</h3>
  
      <div *ngIf="err != null" class="alert alert-danger mt-2">
        {{ err }}
      </div>
  
      <div *ngIf="mssg != null" class="alert alert-success mt-2">
        {{ mssg?.message }}
      </div>
  
      <div class="form-group">
        <label>Correo electrónico:</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div *ngIf="submitted && myForm.controls.email.errors" class="alert alert-danger" role="alert">
        <div *ngIf="myForm.controls.email.errors.required">
        El correo electrónico es obligatorio.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary">
        Recuperar mi contraseña
      </button>
  
    </form>
  </div>
