<div class="container">
    <form [formGroup]="updatePwd" (ngSubmit)="onSubmit()">
      <h3>Cambiar contraseña</h3>
  
      <div *ngIf="errors?.error" class="alert alert-danger mt-3">
        {{ errors?.error }}
      </div>

      <div *ngIf="mssg != null" class="alert alert-success mt-2">
        {{ mssg.data }}
      </div>
  
      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="email" class="form-control" formControlName="email">
      </div>
      <div *ngIf="submitted && updatePwd.controls.email.errors" class="alert alert-danger" role="alert">
        <div *ngIf="updatePwd.controls.email.errors.required">
        El correo electrónico es obligatorio.
        </div>
      </div>
  
      <div class="form-group">
        <label>Nueva contraseña</label>
        <input type="password" class="form-control" formControlName="password">
      </div>
      <div *ngIf="submitted && updatePwd.controls.password.errors" class="alert alert-danger" role="alert">
        <div *ngIf="updatePwd.controls.password.errors.required">
        La contraseña es obligatoria.
        </div>
        <div *ngIf="updatePwd.controls.password.errors.pattern">
        La contraseña debe tener un mínimo de 6 caracteres (al menos una letra mayúscula, una minúscula y un número).
        </div>
    </div>
  
      <div class="form-group">
        <label>Confirmar contraseña</label>
        <input type="password" class="form-control" formControlName="password_confirmation">
      </div>
      <div *ngIf="submitted && updatePwd.controls.password_confirmation.errors" class="alert alert-danger" role="alert">
        <div *ngIf="updatePwd.controls.password_confirmation.errors.required">
        La contraseña es obligatoria.
        </div>
    </div>
    <div *ngIf="!submitted && updatePwd.controls.password_confirmation.valid && updatePwd.controls.password_confirmation.value != updatePwd.controls.password.value" class="alert alert-danger" role="alert">
      Las contraseñas deben coincidir.
    </div>
  
      <button type="submit" class="btn btn-success">Actualizar contraseña</button>
    </form>
  </div>
